{% extends 'base.html' %}

{% block content %}
    <h1>Compras</h1>
    <a href="/compras/importar-nota" class="btn btn-success mb-3">Importar Nota Fiscal (XML)</a>
    <table class="table table-striped">
        <thead>
            <tr><th>ID</th><th>Fornecedor</th><th>Valor</th><th></th></tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.fornecedor }}</td>
                <td>R$ {{ compra.valor }}</td>
                <td><a class="btn btn-sm btn-info" href="/compras/{{ compra.id }}">Detalhes</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
